<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Smoke Tests">
<!--        <parameter name = "url" value="https://www.facebook.com"/>-->
<!--        <parameter name = "url" value="https://www.yahoo.com"/>-->
                <parameter name = "url" value="${test.url}"/>
                <parameter name = "platform" value="${test.platform}"/>
        <classes>
            <class name="CucumberRunner.RunCukesTest"></class>
        </classes>

    </test>
</suite>